[rpc]
interface = "127.0.0.1"
port = 3001
server_threads = 8
processing_threads = 16
db_path = "./db"
# Submit transactions N blocks earlier
submit_earlier = 1

[verification]
chain_id = 42
max_gas = 1_000_000
min_gas_price = 20_000_000_000
min_schedule_block = 5
max_schedule_block = 100_000
max_txs_per_sender = 1
check_nonce = true
# Allow only certified addresses
# certifier = "1e2F058C43ac8965938F6e9CA286685A3E63F24E" # Foundation
certifier = "06c4af12d9e3501c173b5d1b9dd9cf6dcc095b98" # Kovan

[nodes]
# A node that will be queried for latest blockchain state (block number/nonce&balance)
blockchain = "http://127.0.0.1:8545"

# A list of nodes to which the transactions will be submitted to
transactions = [
  "http://127.0.0.1:8545"
]



